
include pybdf.py
include setup.py
include doc/*
include doc/_build/*
include doc/_build/doctrees/*
include doc/_build/html/*
include doc/_build/html/_modules/*
include doc/_build/html/_sources/*
include doc/_build/html/_static/*
include doc/_build/latex/*
include doc/source/*
include examples/*.py
include INSTALL.txt
include README.md
include COPYING.txt
include CHANGELOG.txt